ul {list-style-type: none;}
body {font-family: Verdana, sans-serif; width: 100%;}

/* en-tête de la semaine */
header {
  padding: 70px 25px;
  background: #1abc9c;
  text-align: center;
}

/* liste des jours de semaine */
header ul {
  margin: 0;
  padding: 0;
}

header ul li {
  color: rgb(245, 12, 12);
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Bouton "précédent" du semainier */
header .prev {
  float: left;
  padding-top: 10px;
}

/* Bouton "suivant" */
header .next {
  float: right;
  padding-top: 10px;
}

.tftable {font-size:12px;color:#333333;width:100%;border-width: 1px;border-color: #729ea5;border-collapse: collapse;}

.tftable th {font-size:12px;background-color:#acc8cc;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;text-align:left;}

.tftable tr {background-color:#d4e3e5;}

.tftable td {font-size:12px;border-width: 1px;padding: 8px;border-style: solid;border-color: #729ea5;}

.tftable tr:hover {background-color:#ffffff;}

.tftable .midi {background-color:rgb(245, 12, 12);}
